/* remove default browser spacing*/
* {
  margin: 0px;
  padding: 0px;
}

/*title text style*/
/* the font-family 'JetBrains Mono', has been linked
 * and is available for your use
 * */
#profile-img {
width: 150px;
border-radius: 50%
display: block
margin: 20px auto:
}
#summary {
  max-width: 700px;
  margin: 40px auto;
  text-align: center;
  font-size: 1.1rem
  line-height: 1.6;
  color: #333
}
#summary h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #f4a261 
}
strong {
font-weight: bold;
}
section ul {
list-style: disc;
padding-left: 1.8rem;  
}
.header-container {
  display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
margin-bottom: 20px;
}
.contact-card {
  background-color: #eb8836;
  padding: 20px;
  border-radius: 15px;
  text-align: left;
  width: 300px;
  height: 80px;
}
.contact-card p {
  margin: 8px 0;
}
.contact-info a {
  color: #61dafb;
  text-decoration: none;
}
hr {
  margin: 10px 0;
  border: 1px solid #aaa;
}
.bottom-section {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.bottom-section div {
width: 40%;

}
.bottom-section ul {
  list-style-type: disc;
  padding-right: 20px;


}